<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Cadastro</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
 
  <form id="cadastroForm" action="/cadastrar-usuario" method="post" onsubmit="return cadastrarUsuario()" >
    <h1>CADASTRO</h1> <br> <br>
    <div class="mb-3">
      <label for="exampleInputNome" class="form-label"><strong>Nome:</strong></label>
      <input type="text" class="form-control" id="exampleInputNome" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><strong>Email:</strong></label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><strong>Senha:</strong></label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label"><strong>Confirme sua senha:</strong></label>
      <input type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>


  <a id="linkRedirecionar" href="http://localhost:1000/" style="display:none;"></a>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
   function cadastrarUsuario() {
    var nome = document.getElementById('exampleInputNome').value;
    var email = document.getElementById('exampleInputEmail1').value;
    var senha = document.getElementById('exampleInputPassword1').value;
    var confirmacaoSenha = document.getElementById('exampleInputPassword2').value;


    if (nome.trim() === '' || email.trim() === '' || senha.trim() === '' || confirmacaoSenha.trim() === '') {
        alert('Por favor, preencha todos os campos.');
        return false;
    }


    if (senha !== confirmacaoSenha) {
        alert('A senha e a confirmação de senha devem ser iguais.');
        return false;
    }


    var storedUsers = JSON.parse(localStorage.getItem('usuarios')) || [];


    if (storedUsers.some(user => user.email === email)) {
        alert('Este email já está cadastrado.');
        return false;
    }


    var novoUsuario = { nome: nome, email: email, senha: senha };
    storedUsers.push(novoUsuario);


    localStorage.setItem('usuarios', JSON.stringify(storedUsers));


    alert('Cadastro efetuado com sucesso! Redirecionando para a página inicial.');


    document.getElementById('linkRedirecionar').click();


    return false;
}
  </script>
</body>
</html>


